.about-page {
    margin: 50px;
}

#about-page__header {
    text-align: left;
    margin-left: 12px;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

#about-page__bio {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

#profile-image-div {
    margin-left: 30px;
    max-width: 15%;
}

#profile-image {
    margin: auto;
    width: 100%;
    border-radius: 2%;
}

#fun-facts__header {
    text-align: center;
    font-size: 2em;
    font-weight: 750;
    margin-bottom: 20px
}

#fun-facts-pt1, 
#fun-facts-pt2 {
    display: inline-flex;
    align-items: center;
}

#iceland-img {
    margin-left: 20px;
    margin-bottom: 25px;
}

#chongqing-noodle-img,
#iceland-img {
    width: 100%;
    border-radius: 2%;
}

#fun-facts-list-pt1 {
    width: 100%
}

#noodle-image-div {
    max-width: 20%;
}

#iceland-image-div {
    max-width: 15%;
}