#portfolio-page {
    margin: auto;
    padding: 20px;
}

#technical-projects-header {
    font-size: 2em;
    font-weight: 750;
    text-align: center;
}

#technical-skills {
    margin: auto;
    text-align: center;
}

.project-card {
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(227, 241, 255) !important;
}

.project-card iframe {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 300px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%
}